<!DOCTYPE html>
<html lang = "en">

<div class="container-fluid">
  <head style="background-color:#f6f6f6">
    <meta charset="UTF-8">
    <meta name="viewport" content="wid=device-width, intial-scale=1.0">
  
    <!-- Bootstrap -->
    <link rel='stylesheet' href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type='text/css'/> <!-- Loads css template for whole webpage -->
    <link href="https://cdn.datatables.net/v/dt/dt-2.0.7/datatables.min.css" rel="stylesheet">


    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <style type="text/css">
      html,
      body {
        height:100%;
        padding-top: 20px;
      }
    .table-responsive{
      height:700px; 
      overflow:scroll;
    }
    thead tr:nth-child(1) th{
      position: sticky;
      top: -1px;
      z-index: 10;
    }
    </style>

    <br>
    <nav class = "navbar fixed-top bg-light" style="padding-bottom: 0px;">
      <div class="row" style="align-items: center; width: 100%;">
          <h2>
        <a href="/" style="text-decoration: none">CHOP Microbiome Sample Registry</a>
          </h2>
          <a style="padding-left: 20px" href="{{ url_for('show_runs') }}">Runs</a>
          <a style="padding-left: 10px" href="{{ url_for('show_tags') }}">Metadata</a>
          <a style="padding-left: 10px" href="{{ url_for('show_stats') }}">Stats</a>
          <img src="{{ url_for('static', filename='img/ricks_dna.png') }}" alt="" style="width: 100px; height: 50px; margin-left: auto;">
      </div>
    </nav>
 
    {% block head %}{% endblock %}

  </head>
</div>

<body>
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script> <!-- Loads js script for whole webpage -->
  <script src="https://cdn.datatables.net/v/dt/dt-2.0.7/datatables.min.js"></script>
  <script>
    $(function () {
      $('[data-toggle="popover"]')
        .popover({
          placement : 'top',
          trigger : 'hover',
        })
    })
  </script>

  {% block body %}{% endblock %}
</body>
</html>