{% extends 'base.html' %}

{% block body %}
{% if num_samples != 0 %}
<p>Every sample should have a SampleType: {{ num_samples_with_sampletype }} of {{ num_samples }} ({{ "%.2f"|format(100 * num_samples_with_sampletype / num_samples) }}%).</p>
{% endif %}

{% if num_samples_with_sampletype != 0 %}
<p>All SampleType values should be in the approved list: {{ num_samples_with_standard_sampletype }} of {{ num_samples_with_sampletype }} ({{ "%.2f"|format(100 * num_samples_with_standard_sampletype / num_samples_with_sampletype) }}%).</p>
{% endif %}

Standard sample types:
<table class="display" id="standard_sampletypes">
    <thead>
        <tr><th>SampleType</th><th>Count</th></tr>
    </thead>
    <tbody>
        {% for s in standard_sampletype_counts %}
        <tr><td>{{ s.sample_type }}</td><td>{{ s[1] }}</td></tr>
        {% endfor %}
    </tbody>
</table>

Nonstandard sample types:
<table class="display" id="nonstandard_sampletypes">
    <thead>
        <tr><th>SampleType</th><th>Count</th></tr>
    </thead>
    <tbody>
        {% for s in nonstandard_sampletype_counts %}
        <tr><td>{{ s.sample_type }}</td><td>{{ s[1] }}</td></tr>
        {% endfor %}
    </tbody>
</table>

{% if num_subjectid != 0 %}
<p>If SubjectID tag is filled in, HostSpecies tag should also be filled in: {{ num_subjectid_with_hostspecies }} of {{ num_subjectid }} ({{ "%.2f"|format(100 * num_subjectid_with_hostspecies / num_subjectid) }}%).</p>
{% endif %}

{% if num_samples_with_hostspecies != 0 %}
<p>All HostSpecies values should be in the approved list: {{ num_samples_with_standard_hostspecies }} of {{ num_samples_with_hostspecies }} ({{ "%.2f"|format(100 * num_samples_with_standard_hostspecies / num_samples_with_hostspecies) }}%).</p>
{% endif %}

Standard host species:
<table class="display" id="standard_hostspecies">
    <thead>
        <tr><th>HostSpecies</th><th>Count</th></tr>
    </thead>
    <tbody>
        {% for s in standard_hostspecies_counts %}
        <tr><td>{{ s.host_species }}</td><td>{{ s[1] }}</td></tr>
        {% endfor %}
    </tbody>
</table>

Nonstandard host species:
<table class="display" id="nonstandard_hostspecies">
    <thead>
        <tr><th>HostSpecies</th><th>Count</th></tr>
    </thead>
    <tbody>
        {% for s in nonstandard_hostspecies_counts %}
        <tr><td>{{ s.host_species }}</td><td>{{ s[1] }}</td></tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        /* Set up data table */
        $('#standard_sampletypes').dataTable({
            "bSort": false,
            "bPaginate": false,
        });

        $('#nonstandard_sampletypes').dataTable({
            "bSort": false,
            "bPaginate": false,
        });

        $('#standard_hostspecies').dataTable({
            "bSort": false,
            "bPaginate": false,
        });

        $('#nonstandard_hostspecies').dataTable({
            "bSort": false,
            "bPaginate": false,
        });
    });
</script>
{% endblock %}