name: Test Package

on:
  workflow_call:

  workflow_dispatch:

jobs:
  tests_with_coverage:
    name: Generate Coverage Report
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: Install project
        run: |
          pip install .[dev,web]
      - name: Run tests
        run: pytest -s -vvvv -l --tb=long tests
      - name: Generate coverage report
        run: |
          pytest --cov sample_registry
          cp .coverage ../
      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  tests:
    name: Run Tests
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install project
        run: |
          pip install .[dev,web]
      - name: Run tests
        run: pytest -s -vvvv -l --tb=long tests

  lint:
    name: Lint Code Base
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - name: Install Dependencies
        run: pip install .[dev]

      - name: Lint Code Base
        run: black --check .